<form class="form-horizontal" action='' method="POST">
  
    <div class="control-group">
        <label class="control-label"  for="username">Employee Name</label>
        <div class="controls">
            <input type="text" id="username" name="username" class="input-xlarge">
        </div>
    </div>
 
    <div class="control-group">
        <label class="control-label"  for="username">Phone number</label>
        <div class="controls">
            <input type="text" id="phone_no" name="phonr_no" class="input-xlarge">
        </div>
    </div>
 
    <div class="control-group">
        <label class="control-label"  for="username">Email Id</label>
        <div class="controls">
            <input type="text" id="email" name="email" class="input-xlarge">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label"  for="username">Adress</label>
        <div class="controls">
            <input type="text" id="address" name="adress" class="input-xlarge">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label"  for="username">Salary</label>
        <div class="controls">
            <input type="text" id="salary" name="salary" placeholder="Per Month" class="input-xlarge">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label"  for="username">Number Of Months</label>
        <div class="controls">
            <input type="text" id="months" name="months" placeholder="Working Experiance in Month" class="input-xlarge">
        </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <button class="btn btn-success">Register</button>
      </div>
    </div>
</form>